@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fafafa;
}

header {
  text-align: center;
  padding-top: 45px;
  font-family: "Poppins", sans-serif;
  width: 370px;
  margin: 0 auto;
  margin-bottom: 45px;
}
header h2 {
  font-weight: 200;
  font-size: 25px;
  color: #4c4e61;
}
header h1 {
  font-size: 25px;
  font-weight: 600;
  color: #4c4e61;
}
header h5 {
  padding-top: 10px;
  font-size: 10px;
  font-weight: 400;
  color: #a3a5ae;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: ". box2 ." "box1 box2 box4" "box1 box3 box4" ". box3 .";
  margin: 0 150px;
}
main div {
  font-family: "Poppins", sans-serif;
  background: #fff;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  margin: 14px;
  -webkit-box-shadow: 0px 7px 30px -13px #A3A5AE;
          box-shadow: 0px 7px 30px -13px #A3A5AE;
}
main div h3 {
  color: #4c4e61;
}
main div p {
  color: #a3a5ae;
  font-size: 12px;
  padding-top: 8px;
}
main div img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  margin-top: 20px;
  width: 45px;
}
main .supervisor {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: box1;
  border-top: 3.5px #45d3d3 solid;
}
main .team-builder {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: box2;
  border-top: 3.5px #ea5353 solid;
}
main .karma {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: box3;
  border-top: 3.5px #fcaf4a solid;
}
main .calculator {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: box4;
  border-top: 3.5px #549ef2 solid;
}

@media only screen and (max-width: 375px) {
  header {
    margin: 50px 0 0 0;
  }
  header h5 {
    font-size: 15.5px;
    margin: 0 24px;
  }

  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 50px 0 60px 0;
  }
}