@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

@mixin border-top($border-color){
  border-top: 3.5px $border-color solid;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: $very-light-gray;
}
header{
  text-align: center;
  padding-top: 45px;
  font-family: 'Poppins', sans-serif;
  width: 370px;
  margin: 0 auto;
  margin-bottom: 45px;
  h2{
    font-weight: 200;
    font-size: 25px;
    color: $very-dark-blue;
  }
  h1{
    font-size: 25px;
    font-weight: 600;
    color: $very-dark-blue;
  }
  h5{
    padding-top: 10px;
    font-size: 10px;
    font-weight: 400;
    color: $grayish-blue;
  }
}
main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ". box2 ."
  "box1 box2 box4"
  "box1 box3 box4"
  ". box3 .";
  margin: 0 150px;
  div{
    font-family: 'Poppins', sans-serif;
    background: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin: 14px;
    box-shadow: 0px 7px 30px -13px #A3A5AE;
    h3{
      color: $very-dark-blue;
    }
    p{
      color: $grayish-blue;
      font-size: 12px;
      padding-top: 8px;
    }
    img{
      align-self: flex-end;
      justify-self: flex-end;
      margin-top: 20px;
      //margin-bottom: -20px;
      width: 45px;
    }
  }
  .supervisor{
    grid-area: box1;
    @include border-top($cyan)
  }
  .team-builder{
    grid-area: box2;
    @include border-top($red)
  }
  .karma{
    grid-area: box3;
    @include border-top($orange)
  }
  .calculator{
    grid-area: box4;
    @include border-top($blue)
  }
}
@media only screen and (max-width: 375px) {
  header{
    margin: 50px 0 0 0;
    h5{
      font-size: 15.5px;
      margin: 0 24px;
    }
  }
  main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 0 60px 0;
  }
}